/*Tirando as configurações padrão dos navegadores */
body, ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/*Estilizando o logo na tag <a>*/
#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    display: flex;
    align-items: center;
    background: #e7e7e7;

    height: 70px;
    box-sizing: border-box; /* Faz o tamanho das bordas e margens não alterar o valor fixo de width ou height*/
    padding: 1rem; /* significa 16px*/

    justify-content: space-between;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem; /*Está propriedade cria um espaço entre os elementos flex*/
}

/*Estilização ao links do menu para eles ficarem mais grandes e faceis de se clicar no navegador mobile*/
#menu a {
    display: block;
    padding: .5rem;
}
#menu a.active{
    font-weight: bold;
}

/*Mobile*/
#btn-mobile {
    display: none;
}

/*Media query, Esterilizações que aconteçerão se o comprimento da tela satisfazer o tamanho indicado*/
@media screen and (max-width: 600px) {
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        background: none;
    }
    #hamburger{
        width: 20px;
        border-top: 2px solid;
        transition: .25s;
    }
    #hamburger::after, #hamburger::before{ /*Para um elemento after existir ele precisa ter um conteúdo.*/
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor; /*Pega a cor que está, no pai, na tag pai.*/
        transition: .5s;
        margin-top: 5px;
        position: relative;
    }


    #menu {
        position: absolute; /*Para ficar por cima do site, de qualquer elemento.*/
        width: 100%; /*Quando o position é absoluto você deve dizer o seuu tamanho, é obrigatário senão ele será inline.*/
        top: 70px; /*Vai dar um espaço em cima de 70px.*/
        left: 0; /*Vai dar ao elemento 0px de espaço a sua esquerda, vamos encostar o elemento a esquerda. */

        background: #e7e7e7;
        height: 0;
        z-index: 1000; /*Garante que os elementos fiquem abaixo dele, elementos com z-index menor.*/
        transition: .5s; /*Aplica uma transição a qualquer elemento que alterar o seu estado dentro deste escopo. Transitions não funciona na troca da propriedade display*/
        visibility: hidden; /*Esconde o elemento.*/
        overflow-y: hidden; /*Overflow hidden  vai esconder o elemento se ele tiver um tamanha grande, esconde as partes que estão fora do elemento*/
    }

    /*Esterilizações dos items do menu.*/
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #nav.active #menu {
        display: block;
        visibility: visible; /*Mostra o elemento invisível.*/
        overflow-y: auto; /*Vai aplicar uma configuração apropriada ao tamanho de fluxo.*/
        height: calc(100vh - 70px); /*ViewPort (Tela) Height, vai ter 100% da altura da tela.*/
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg); /*Vai rotacionar after em 135degrees.*/
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg); /*Vai rotacionar after em -135degrees.*/
        top: -7px; /*Vai posicionar o elemento em 7px para cima. Esta configuração só funciona com positions: relative e absolute.*/
    }

}